body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.numbers-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    margin-bottom: 20px;
}

.number {
    padding: 10px;
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease; /* Added color transition */
}

.number.hidden {
    opacity: 0.5;
    cursor: not-allowed;
}

.number:hover {
    background-color: #333;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.number:active {
    transform: translateY(0);
    box-shadow: none;
}

input, button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

input:hover, button:hover {
    background-color: #555;
}

input:active, button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#feedback {
    margin-top: 20px;
}
